<div class="card-top container-fluid fas">
    <div class="container d-flex">
        <div class="item">
            <a (click)="filter('')">
                <img src="https://media.istockphoto.com/photos/row-of-books-on-a-shelf-multicolored-book-spines-stack-in-the-picture-id1222550815?k=20&m=1222550815&s=170667a&w=0&h=B9SCqQR1PV4yBryQSD-a8wcFGHmfZAG-MMBbPXfISPs="
                    alt="" />
                <h6>All Books</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('Auto Biography')">
                <img src="https://media.istockphoto.com/photos/whats-your-story-hands-holding-an-open-book-background-picture-id1092682512?k=20&m=1092682512&s=612x612&w=0&h=4Y_OdB_Nf4dIceJRscwDIaelWY7SMbTDJujgbjCwc04="
                    alt="" />
                <h6>Auto Biography</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('Fantasy')">
                <img class="fantasy"
                    src="https://media.istockphoto.com/illustrations/boy-standing-on-the-magic-book-illustration-id916080864?k=20&m=916080864&s=612x612&w=0&h=WIHA_oQQ2PhaONII7pBhQ_9zN1xyEYI3wQ2iubhXnJ0="
                    alt="" />
                <h6>Fantasy</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('Romance Novel')">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQuUNlhH2iITQx6iT-BKJvnRTxaoykCJ_Aaw&usqp=CAU"
                    alt="" />
                <h6>Romance Novel</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('Mystery')">
                <img class="fantasy"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZhReFwxu1ESE_o5IguYcexSMHGJqcJ-0KhA&usqp=CAU"
                    alt="" />
                <h6>Mystery</h6>
            </a>
        </div>
    </div>
</div>

<div class="btn-group-justified btn-group-sm margin-left">
    <button class="btn btn-info" routerLink="/admin/products" *ngIf="isUserAdmin && allProducts.length != 0"
        (click)="onDeleteAllProduct()">
        Clear Product
    </button>
    <button class="btn btn-dark" *ngIf="isUserAdmin && allProducts.length != 0" value="Fetch Product"
        (click)="onProductsFetch()">
        Fetch Product
    </button>
    <a routerLink="/admin/products/new" *ngIf="isUserAdmin" class="btn btn-secondary">
        New Products
    </a>
</div>

<div class="container">
    <div class="row">
        <ng-container *ngFor="
        let item of filterCategory | filter: searchKey:'title';
        index as i
      ">
            <div class="card col-md-3">
                <img src="{{ item.imageUrl }}" alt="" />
                <h2>Id:-{{ i + 1 }}</h2>
                <h5 style="
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100ch;
          ">
                    Title:-{{ item.title }}
                </h5>
                <p style="
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100ch;
          ">
                    Description:-{{ item.description }}
                </p>
                <p><strong>Price:</strong> {{ item.price | currency: "INR" }}</p>
                <button class="btn-delete btn-danger" *ngIf="isUserAdmin" (click)="onDeleteProduct(item.id)">
                    Delete
                </button>
                <button class="btn-delete" *ngIf="isUserAdmin" (click)="onEditProduct(item.id)">
                    Edit
                </button>

                <button class="btn-delete btn-danger" *ngIf="!isUserAdmin" (click)="onAddToCart(item)">
                    Add To Cart
                </button>
                <button class="btn-delete btn-clear" *ngIf="!isUserAdmin" routerLink="/check-out"
                    (click)="buyNow(item)">
                    Buy Now
                </button>
            </div>
           
        </ng-container>
        
    </div>
   
    
   

</div>