/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import '~ngx-toastr/toastr.css';

body {
     background-image:url('https://img.freepik.com/free-photo/black-monstera-leaves-background-wallpaper_53876-102420.jpg?w=2000');
     background-position:center;
      background-size:cover;
    color: white;
    }